<div>
    <form class="form" [formGroup]="form" (ngSubmit)="send()">
        <div class="form-group">
            <input type="text" formControlName="email" name="email" />
            <app-message alert="E-mail obrigatório!" *ngIf="form.get('email')?.errors?.email && form.get('email')?.touched">
            </app-message>
        </div>
        <div class="form-group">
            <input type="text" formControlName="name" name="name" />
            <app-message alert="Nome obrigatório!" *ngIf="form.get('name')?.errors && form.get('name')?.touched">
            </app-message>
        </div>
        <div class="form-group">
            <input type="text" formControlName="fullName" name="fullName" />
            <app-message alert="Sobrenome obrigatório!" *ngIf="form.get('fullName')?.errors && form.get('fullName')?.touched">
            </app-message>
        </div>
        <div class="form-group">
            <input type="text" formControlName="transfer" name="transfer" />
            <app-message alert="Valor da transferencia obrigatório!"
                *ngIf="form.get('transfer')?.errors && form.get('transfer')?.touched"></app-message>
        </div>
        <button class="btn btn-primary" [disabled]="form.invalid">Enviar transferencia</button>
    </form>
</div>